$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game-box {
  border: 2px solid black;
  height: 210px;
  max-width: 70%;
  font-size: 150px;
  text-align: center;
}

.modal-footer {
  border-top: 0px;
}

.modal-header {
  text-align: center;
}

.closer-button {
  text-align: right;
}

h1 {
  float: left;
  display: inline;
}

hr {
  width: auto;
  clear: both;
}

.top-nav {
  float: right;
  margin-bottom: 0px;
}

.grid {
  width: 75vw;
}

#sign-out-button {
  display: none;
}

#change-password-button {
  display: none;
}

.name {
  color: #black;
  font-weight: 700;
}

footer {
  text-transform: uppercase;
  padding: 0px 20px;
  background-color: #ffffff;
  font-color: #000000;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copyright {
  // float:left;
  font-family: "Raleway", sans-serif;
}

.message {
  float: left;
  font-family: "Raleway", sans-serif;
}
