$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game-box {
  border: 2px solid black;
  height: 150px;
  max-width: 150px;
}

.grid {
  margin: 0 auto;
}

.right::after {
  clear: both;
}
