$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game-box {
  border: 2px solid black;
  height: 220px;
  max-width: 75%;
  font-size: 150px;
  text-align: center;
}

.grid {
  width: 75vw;
}
